<div
  class="m-4 overflow-auto rounded border border-gray-700 bg-gray-800"
  style="height: 64vh"
>
  <table class="min-w-full whitespace-nowrap align-middle">
    <tbody>
      <tr *ngFor="let match of matches" [class]="rowBackground(match)">
        <td [class]="matchScoreBackground(match)">{{ matchNumber(match) }}</td>
        <td class="text-l p-3 text-red-500">
          {{ allianceString(match.alliances.red.team_keys) }}
        </td>
        <td class="text-l p-3 text-blue-500">
          {{ allianceString(match.alliances.blue.team_keys) }}
        </td>
        <td class="p-3 text-xl">
          <div
            *ngIf="match.actual_time && match.alliances.blue.score !== -1"
            class="flex flex-row"
          >
            <div class="pr-1 text-xl text-red-500">
              {{ match.alliances.red.score }}
            </div>
            -
            <div class="pl-1 text-xl text-blue-500">
              {{ match.alliances.blue.score }}
            </div>
          </div>
        </td>
      </tr>
    </tbody>
  </table>
</div>
